.custom-layout {
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto
}

.custom-headline {
  font-weight: 500
}

.mainNav {
  width: 100%;
}
.footerNav{
  padding:0;
  margin: 0 auto 0 auto !important
}

.mainNavFixed {
  position: fixed;
  top: -74px;
  z-index:5
}
.mobileNavFixed{
  position: fixed;
  z-index: 5
}

.drawBtn {
  margin: 6px 8px
}
.customCardTitle {
  height: 76.5px
}

.absolutePosition {
  position: absolute;
}
.fixedPosition {
  position: fixed;
}
.absolutePositionSocial {
  position: absolute;
  bottom:100px;
}
.fixedPositionSocial {
  position: fixed;
  top:200px;
}

.xsicon {
  font-size:18px
}

.btn--large .btn__content {
  padding: 0;
}

.post-content p {
  font-size: 18px !important;
  font-weight: 400
}

.application a {
  color: black !important
}

.post-content h4 {
  font-size: 24px !important;
  font-weight: 500;
  margin-top: 24px !important;
  margin-bottom: 8px !important;
}
.post-content img {
  width: 100%;
  margin-bottom: 24px !important;
  margin-top:24px !important;
}